* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#cabesalho_border {
    margin: 20px 0 0; 
}

#cabesalho{
    display: flex;
    justify-content: center;
}

#text_square {
    background-color: #664a94;
    color: white;
    width: 125px;
    height: 125px;
    margin-right: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#first_part {
    padding: 10px;
}

#second_part {
    padding: 0 10px;
    flex-wrap: wrap;
}

#imagem2 {
    margin-left: 5px;
}

.links_cabesalho {
    display: flex;
    justify-content: center;
    padding: 5px 0 15px;
}

.links {
    display: flex;
    justify-content: center;
}

.link_sem_linha {
    text-decoration: none;
}

#Joey {
    margin: 5px 5px;
}

.links_cabesalho_bottom {
    margin-top: 5px;
}

.barrinhas {
    color: #064b86;
    margin: 0 5px;
}

.barrinhas-bottom {
    margin-top: 5px;
}

#titulo {
    display: flex;
    justify-content: center;  
}

#home {
    display: flex;
    justify-content: center;
}

#home1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#home2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#img1 {
    margin: 0 5px 5px 35px;
}

#data {
    margin: 0 5px 30px 35px;
    color: #064b86;
}

#img2 {
    margin: 15px 45px 35px 0;
}